    </main>
  </div>
</div>

<div id="liveBanner" class="live-banner d-none">
  <i class="fa-solid fa-bell gold-text me-2"></i>
  <span>Ha novidades nos agendamentos.</span>
  <button type="button" class="btn btn-gold btn-sm ms-3" id="liveRefreshBtn">Atualizar</button>
  <button type="button" class="btn-icon ms-1" id="liveBannerClose"><i class="fa-solid fa-xmark"></i></button>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center p-4">
        <i class="fa-solid fa-triangle-exclamation text-warning fa-2x mb-3"></i>
        <p id="confirmModalText" class="mb-0">Tem certeza que deseja realizar esta acao?</p>
      </div>
      <div class="modal-footer border-0 justify-content-center pb-4">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" id="confirmModalBtn">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>
