<nav class="navbar navbar-expand-lg navbar-dark fixed-top site-navbar" id="siteNavbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <% if (settings.logo) { %>
        <img src="<%= settings.logo %>" alt="<%= settings.shop_name %>" height="38" class="me-2 brand-logo-img">
        <span><%= settings.shop_name %></span>
      <% } else { %>
        <%- include('./brand-mark', { size: 'sm' }) %>
      <% } %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="siteNavMenu">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        <li class="nav-item"><a class="nav-link" href="/#sobre">Sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="/#servicos">Servicos</a></li>
        <li class="nav-item"><a class="nav-link" href="/#equipe">Equipe</a></li>
        <li class="nav-item"><a class="nav-link" href="/#galeria">Galeria</a></li>
        <li class="nav-item"><a class="nav-link" href="/#avaliacoes">Avaliacoes</a></li>
        <li class="nav-item"><a class="nav-link" href="/#contato">Contato</a></li>
        <li class="nav-item ms-lg-2">
          <a class="btn btn-gold btn-sm px-3" href="/agendar"><i class="fa-regular fa-calendar-check me-1"></i> Agendar horario</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
